<div class="user_ind">
  <%= link_to user do %>
      <%= image_tag user.avatar.url(:medium), class: 'small_avatar' %><span class='username'><%= user.username %></span>
  <% end %>
  <span class="friendship_links friend_<%=user.id%>"><%= render 'users/friends_links', user: user %></span>
</div>