<div class="user posts">
  <div class="core">
    <%= @user.username %>
    <%= image_tag @user.avatar.url(:big) %>
  </div>
  <div class="friendship_links friend_<%=@user.id%>"><%= render 'users/friends_links', user: @user %></div>
  <%= render partial: 'posts/post', collection: @posts %>
</div>