<div class="new_post clearfix">
  <%= form_for ([@user, @post]), html: { multipart: true } do |f| %>

      <div class="field">
        <%= f.text_area :content, class: 'content_area' %>
      </div>

      <div class="field avatar_button">
        <%= f.label :image, class: 'fileContainer' do %>
            <span class="tooltip">Add image</span>
            <%= f.file_field :image %>
        <% end %>
      </div>

      <%= f.submit 'Edit' %>
  <% end %>
</div>