<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="backdrop"></div>
<%= render 'layouts/nav' %>
<div class="container">

  <!--<div class="flashes">
    <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>-->
    <ul id="notice"></ul>
    <ul id="comment_error"></ul>
  </div>
  <%= yield %>
</div>
<div class="footer"></div>
</body>
</html>

